In [1]:
import numpy as np
import pandas as pd
import os

In [5]:
os.listdir('data')

['attributes.txt', 'CUB_200_2011', 'CUB_200_2011.tar', 'FETAL_PLANES_ZENODO']

In [6]:
data = pd.read_csv('data/FETAL_PLANES_ZENODO/FETAL_PLANES_DB_data.csv', delimiter=';')
data.head()

,Image_name,Patient_num,Plane,Brain_plane,Operator,US_Machine,Train
0,Patient00001_Plane1_1_of_15,1,Other,Not A Brain,Other,Aloka,1
1,Patient00001_Plane1_2_of_15,1,Other,Not A Brain,Other,Aloka,1
2,Patient00001_Plane1_3_of_15,1,Other,Not A Brain,Other,Aloka,1
3,Patient00001_Plane1_4_of_15,1,Other,Not A Brain,Other,Aloka,1
4,Patient00001_Plane1_5_of_15,1,Other,Not A Brain,Other,Aloka,1

In [7]:
#initialize empty category
data['category'] = [0 for i in range(len(data))]

In [8]:
data['Train '].value_counts()

1    7129
0    5271
Name: Train , dtype: int64

In [9]:
#map images to category
for i in range(len(data)):
    overcategory = data['Plane'][i]
    if overcategory != 'Fetal brain':
        data['category'][i] = overcategory
    else:
        category = data['Brain_plane'][i]
        data['category'][i] = category

C:\Users\rune7\AppData\Local\Temp\ipykernel_6188\213647302.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['category'][i] = overcategory

In [10]:
#4. Split the  images into training and test sets
import shutil
img_path = 'data/FETAL_PLANES_ZENODO/Images/'

In [11]:
def makedir(path):
    '''
    if path does not exist in the file system, create it
    '''
    if not os.path.exists(path):
        os.makedirs(path)

In [24]:
data

,Image_name,Patient_num,Plane,Brain_plane,Operator,US_Machine,Train,category
0,Patient00001_Plane1_1_of_15,1,Other,Not A Brain,Other,Aloka,1,Other
1,Patient00001_Plane1_2_of_15,1,Other,Not A Brain,Other,Aloka,1,Other
2,Patient00001_Plane1_3_of_15,1,Other,Not A Brain,Other,Aloka,1,Other
3,Patient00001_Plane1_4_of_15,1,Other,Not A Brain,Other,Aloka,1,Other
4,Patient00001_Plane1_5_of_15,1,Other,Not A Brain,Other,Aloka,1,Other
...,...,...,...,...,...,...,...,...
12395,Patient01791_Plane5_1_of_1,1791,Fetal femur,Not A Brain,Other,Voluson S10,0,Fetal femur
12396,Patient01792_Plane2_1_of_1,1792,Fetal abdomen,Not A Brain,Other,Voluson E6,0,Fetal abdomen
12397,Patient01792_Plane3_1_of_1,1792,Fetal brain,Trans-thalamic,Other,Voluson E6,0,Trans-thalamic
12398,Patient01792_Plane5_1_of_1,1792,Fetal femur,Not A Brain,Other,Voluson E6,0,Fetal femur
12399,Patient01792_Plane6_1_of_1,1792,Fetal thorax,Not A Brain,Other,Voluson E6,0,Fetal thorax

In [12]:
#moving images to train and test folders
for i in range(len(data)):
    #get category
    category = data['category'][i]
    if data['Train '][i] == 1:
        makedir('datasets/FETAL_PLANES_DB/train/' + category)
        source = str(img_path + data['Image_name'][i] + '.png')
        destination = str('datasets/FETAL_PLANES_DB/train/' + category + '/' + data['Image_name'][i] + '.png')
        shutil.copy(source, destination)
    else:
        makedir('datasets/FETAL_PLANES_DB/test/' + category)
        source = str(img_path + data['Image_name'][i] + '.png')
        destination = str('datasets/FETAL_PLANES_DB/test/' + category + '/' + data['Image_name'][i] + '.png')
        shutil.copy(source, destination)